@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

/* thx to salehriaz for the 404 page design*/
@-moz-keyframes spin-earth { 100% { -moz-transform: rotate(-360deg); transition: transform 20s;  } }
@-webkit-keyframes spin-earth { 100% { -webkit-transform: rotate(-360deg); transition: transform 20s;  } }
@keyframes spin-earth{ 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); transition: transform 20s; } }

@-moz-keyframes glow-star {
    40% { -moz-opacity: 0.3;}
    90%,100% { -moz-opacity: 1; -moz-transform: scale(1.2);}
}
@-webkit-keyframes glow-star {
    40% { -webkit-opacity: 0.3;}
    90%,100% { -webkit-opacity: 1; -webkit-transform: scale(1.2);}
}
@keyframes glow-star{
    40% { -webkit-opacity: 0.3; opacity: 0.3;  }
    90%,100% { -webkit-opacity: 1; opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); border-radius: 999999px;}
}

.spin-earth-on-hover{
    
    transition: ease 200s !important;
    transform: rotate(-3600deg) !important;
}

html {
    overflow-y: scroll; 
    margin: 0;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.bg-purple{
    background: url(../images/bg_purple.png);
    background-repeat: repeat-x;
    background-size:auto;
    background-position: left top;
    overflow: hidden;
}
.page {
 position: relative;   
 min-height: 97.5vh;
}
.content {
   padding-bottom: 2.5rem
}

.custom-navbar{
    padding-top: 15px;
}

.brand-logo{
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}

.navbar-links{
    float: right;
    margin-right: 15px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    display: flex; 
    align-items: center; 
}

li {
    float: left;
    padding: 15px 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 12px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

li a:hover {
    color: #ffcb39;
}

.central-body{
/*    width: 100%;*/
    padding: 17% 5% 10% 5%;
    text-align: center;
}

.objects img{
    z-index: 90;
    pointer-events: none;
}

.object_earth_close{
    z-index: 1;
    position: fixed;
    top: 31%;
    left: 15%;
   animation: spin-earth 400s infinite linear both;
}

.object_moon_close{
    z-index: 1;
    position: fixed;
    top: 26%;
    left: 56%;
/*
    transform: rotate(0deg);
    transition: transform ease-in 99999999999s;
*/
}

.object_astronaut{
    animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut{
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
}

.text_404{
    position: relative;
    z-index: 100;
    pointer-events: none;
    font-size: 400%;
    color: white;
}
.subtext_404{
    position: relative;
    z-index: 0;
    pointer-events: none;
    font-size: 140%;
    color: white;
}

.stars{
    background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
}

.glowing_stars .star{
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;
}

.glowing_stars .star:nth-child(1){
    top: 80%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 1s;
}
.glowing_stars .star:nth-child(2){
    top: 20%;
    left: 40%;
    animation: glow-star 2s infinite ease-in-out alternate 3s;
}
.glowing_stars .star:nth-child(3){
    top: 25%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 5s;
}
.glowing_stars .star:nth-child(4){
    top: 75%;
    left: 80%;
    animation: glow-star 2s infinite ease-in-out alternate 7s;
}
.glowing_stars .star:nth-child(5){
    top: 90%;
    left: 50%;
    animation: glow-star 2s infinite ease-in-out alternate 9s;
}

@media only screen and (max-width: 600px){
    .navbar-links{
        display: none;
    }
    
    .custom-navbar{
        text-align: center;
    }
    
    .brand-logo img{
        width: 120px;
    }
    
    .box_astronaut{
        top: 70%;
    }
    
    .central-body{
        padding-top: 25%;
    }
}

  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }

  
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .dropdown button:hover {
    color: #FFCB39;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    color: black;
    background-color: rgb(190,190,190);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  } 

  .card {
    z-index: 2;
    position: relative;
    top: 20%;
    box-shadow: 0 0 20px 0;
    background: inherit;
    backdrop-filter: blur(25px);
    margin:10%;
    padding-top: 1rem;
    text-align: center;
    padding-bottom:2rem;
    margin-bottom: 1.5rem;
    color: white;
    font-size: 24px;
  }



  .flex-container {
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto
    
  }
  .social-footer-icons {
    color: white;
    font-size: 20px;
    padding: 0px 15px;
  }
  .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
  .bottom-div {
    position: absolute;
    overflow: hidden;
    height: auto;
    bottom: 20px;
    width: 100%;
  }

a {
    color: inherit
}

.projects-header {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(200, 200, 200, 40);
}
.project-button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-size: 12px;
    border: 0
}
.project-button:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}
.project-button-selected {
    border-top: 3px solid rgba(200, 200, 200, 40);
    border-left: 3px solid rgba(200, 200, 200, 40);
    border-right: 3px solid rgba(200, 200, 200, 40);
    border-bottom: 0;
}
.project-button-deselected {
    border: 0;
    border-bottom: 3px solid rgba(200, 200, 200, 40);
}
.project-spacer {
    height:36px;
    width: 30px;
    display: block;
    border-bottom: 3px solid rgba(200, 200, 200, 40)
}
.games-button {
    text-decoration: none;
    border: 3px solid white;
    padding: 5px 10px
}

.games-button:hover {
    background-color: rgba(50, 50, 50, 40);
}